body {
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
}

img {
    /* image-rendering: pixelated; */
}

/* These appear on the page when you acquire a stamp. Attach this style to images */
.stampAcquired {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

/* Same but for text */
.stampAcquiredtxt {
    position: absolute;
    bottom: 40%;
    font-family: sans-serif;
    text-align: center;
    align-self: center;
    font-size: 100px;
    color: #cccccc;

}

.backButton {
    height: 15%;
    /* width: 50%; */
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #e8cca3;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 48px;
    margin: 4px 2px;
    cursor: pointer;
   
}

/*These are for the actual passport */
#container {
    width: 95%;
    /* max-height: 70%; */
    top: 15%;
    left: 2.5%;
    position: absolute;
}

.page {  
    width: 95%;  
    max-height: 70%;  
    object-fit: contain;    
    position: absolute;                 
    left: 2.5%;
    top: 15%; /* og value 15% */
    bottom: 15%;
    /* object-fit: cover; */
    z-index: 0;
}

.stamp {
    
    max-width: 400px;
    max-height: 20%;
    position: absolute;
    object-fit: scale-down;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.UI-button {
    position: absolute;
    z-index: 4;
    scale: 120%;
}

.page-advance {
    height: 5%;
}

#next-page {
    bottom: 17%;
    right: 15%;

}

#prev-page {
    bottom: 17%;
    left: 15%;
}

#quit-button {
    left: 3px;
    top: 3px;
}

#close-button {
    left: 50%;
    top: 5%;
}